extends layout

block content
  div.itemDisplay(style="background-color: #6666FF; border-radius: 10px;padding: 20px;margin:10px")
    h1 Item: #{item.item.name}
      h4 Price: $#{item.item.price}
      p Date listed: #{item.item.date}
      p Status: #{item.item.status}
      p Description:
      p &nbsp &nbsp &nbsp #{item.item.description}
      p Category: #{item.item.category}
      form(action="", method="post", role="form")
        button.btn.btn-success(type="submit") Buy
