extends layout

block content
  h1 Name: #{p_user.profile.name}
  p Location: #{p_user.profile.location}
  p Website: #{p_user.profile.website}
  p Gender: #{p_user.profile.gender}
  br
  br
  p Items for sale:
  each item in p_user.sale
    div.container-fluid
      div.col-sm-8
        a(href="/"+p_user._id+"/item/"+item._id) #{item.name}
        | &nbsp- $#{item.price}
        p &nbsp &nbsp &nbsp #{item.description}
      if(user._id == p_user._id)
        div.col-sm-4
        p I am logged in LOLOLaergjoeg
  br
  p Items bought:
  each item in p_user.bought
    div.container-fluid
      div.col-sm-8
        a(href="/"+p_user._id+"/item/"+item._id) #{item.name}
        | &nbsp- $#{item.price}
        p &nbsp &nbsp &nbsp #{item.description}
      if(user._id == p_user._id)
        div.col-sm-4
        p I am logged in LOLOLaergjoeg

